@import url (https://fonts.googleapis.com/css?family=Montserrat)
body {
    background-color: rgb(169, 196, 197);
    font-family:Montserrat;
    font-size: 150%;
}
.content {
    padding: 3vmin;
    margin: 3vmin;
    background-color:rgb(255, 255, 255);
}
.header {
padding: 20px;
text-align: center;
background-color:darkslategray ;
color:white;
}
.topnav{
   text-align: center;
    background-color: darkslategrey;
    overflow: hidden;
}
.topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.topnav a:hover{
    background-color:darkgrey;
    color:black;
}
*{
    box-sizing: border-box;
}
